@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイルの追加 */
@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-800;
  }
}
.text-shadow-custom {
  text-shadow: 0 0 10px #ff0;
}

.shadow-custom {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 0 2px rgba(255, 255, 255, 0.1);
}

.shadow-focus {
  box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.4),
    0 0 0 2px rgba(255, 255, 255, 0.2);
}
